<center><body>
    <div class="container">
        <h1><p>About KhumaloCraft!</p></h1>
        <p>Khumalo Crafts Emporium purpose is to showcase African creativity and heritage.</p>
        <p>Khumalo Crafts began with the passion in prserving the history and rich culture within Africa,</p>
        <p>through us we will be able to bridge gaps between modern african art and traditional art by offering opportunites</p>
        <p> to various communites within Africa to express their skills through their art and craftsmanship.</p>
        <p>Every product within Khumalo Crafts has a story,from where it came to what it means to the people of that community,</p>
        <p>within Africa theres a rich history of vibrancy and colours and with that comes amazing art which gets passed down through generations.</p>
        <p>Through Khumalo Crafts you will be able to explore African diversity through intricate designs and cultural symbolism,</p>
        <p>so join us in our journey to bringing African culture to the world through art</p>
    </div>
</body>
</center>