<center><h1>Contact Us</h1>
<section>
    <h2>Contact Person 1</h2>
    <p>Name: James Khumalo</p>
    <p>Email: jameskhumalo@gmail.com</p>
    <p>Phone: +27 896512278</p>
</section>

<section>
    <h2>Contact Person 2</h2>
    <p>Name: Sizwe Moyo</p>
    <p>Email: smoyo@gmail.com</p>
    <p>Phone: +9876543210</p>
</section>

<section>
    <h2>Contact Person 3</h2>
    <p>Name: Pierre Bourne</p>
    <p>Email: pbourne21@gmail.com</p>
    <p>Phone: +27 673491184</p>
</section>

<section>
    <h2>Contact Person 4</h2>
    <p>Name: Vaughn Hubbard</p>
    <p>Email: vhubbard@gmail.com</p>
    <p>Phone: +27 648905382</p>
</section>

<section>
    <h2>Contact Person 5</h2>
    <p>Name: Lasizwe Bongo</p>
    <p>Email: labongo@gmail.com</p>
    <p>Phone:+27 569035902</p>
</section>
</center>